body {
  MARGIN: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #66BFBF;
  text-shadow: 4px 4px 2px rgba(0,0,0,0.1);
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

h2 {
    font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
}

h3 {
  margin-top: 50;
  font-family: 'Montserrat', sans-serif;
}

p{
  margin-top: 50;
  font-family: 'Montserrat', sans-serif;

}
h6 {
  display:inline-block;
}

.top-container {
  background-color: #f4f9f9;
  padding-top: 100px;
  margin-bottom: 0px;
}

.middle-container {
  background-color: 		#f4f9f9;
  padding-top: 50px;
  margin: 0px;
}

.bottom-container {
  background-color: 	#f4f9f9;
font-size: 20px;
display:inline-block;
text-decoration:none;
}

.top-cloud {
  position: absolute;
  right: 375px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}
